.btn-primary {
    background-color: #FF9900;
    border: 0;
    padding: 15px 41px 15px 41px;
}

.btn-primary:hover {
    background-color: #cc7a00 !important;
}

  .btn-primary:active, .btn-primary:focus {
    color: white !important;
    background-color: #FF9900 !important;
    box-shadow: none !important;
    outline: none !important;
}

.btn-secondary {
    background: none;
    border: 1px solid #BCD0E5;
    padding: 15px 41px 15px 41px;
    color: black;
}

.btn-secondary:hover {
    background-color: #cc7a00 !important;
}

  .btn-secondary:active, .btn-secondary:focus {
    color: white !important;
    background-color: #FF9900 !important;
    box-shadow: none !important;
    outline: none !important;
}

.container {
    font-family: 'Poppins', sans-serif;
}